
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  scroll-behavior: smooth;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:800;
  font-style: normal;
}
.lato {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.loader, .loader:before {
	display: inline-block;
	border: 50px double transparent;
	border-top-color: #fff;
	border-radius: 50%;
  box-sizing: border-box;
}
.loader {
	padding: 8px;
  animation: wifiLoading 1s ease-in infinite;
}
.loader:before {
	content: '';
	width: 0; height: 0;
}
@keyframes wifiLoading {
  0% { border-style: none}
  100% { border-style: double}
}

.text-main{
  color: #125e51;
}
.bg-main{
  background-color: #125e51;
}
      

